@import "tailwindcss";

@theme {
  --color-main-bg: #003E5D;
  --color-grid-cell-border: rgba(1, 207, 207, .15);
  --color-block-border: #01CFCF;
  --color-board-surface: #003550;
  --color-cell-hover: #0A4A60;
  --shadow-card-frame: 0 0 5px 2px #00EBEB;
  --cell-width: 80px;
  --card-aspect-ratio: 80 / 124;

}

@utility card-size {
  width: var(--cell-width);
  aspect-ratio: var(--card-aspect-ratio);
}

@layer base {
  :root {
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
    line-height: 1.45;
    font-weight: 400;
    font-synthesis: none;
  }

  body {
    margin: 0;
    background-color: var(--color-main-bg);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button {
    cursor: pointer;
  }
}

#app {
  box-sizing: border-box;
  display: flex;
  min-height: 100svh;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  flex-direction: column;
  text-align: center;
}
